<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="point">
    <%= form.text_field :name %>
  </div>
  <div class="point">
    <%= form.text_field :name %>
  </div>
  <div class="point">
    <%= form.number_field :age %>
  </div>
  <div class="but">
    <%= form.file_field :avatar %>
  </div>

  <div class="point">
    <%= form.select( :skin_type_id, SkinType.all.collect{ |skin| [skin.name, skin.id]}) %>
  </div>

  <h3>Дополнительная информация</h3>

  <div class="but">
    <%= form.submit %>
  </div>
<% end %>
