<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.profile_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @comment.product_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(params[:prodyct_id], @comment) %> |
<%= link_to 'Back', comments_path %>
