<div class="acticleCard">
  <% puts mod.id %>
  <div class="info">
      <% if current_user %>
        <% i = 0 %>
        <% current_user.profile.bookmarks.each do |book| %>
          <% if book.article_id == mod.id %>
            <% i =+ 1 %>
          <% end %>
        <% end %>
        <% if i == 0 %>
        <%= link_to bookmark_article_path(mod.id), id: "article_#{mod.id}", remote: true do %>
          <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
          <%= image_tag asset_path("icons/bookmark/active.svg") %>
        <% end %>
        <% else %>
          <%= link_to bookmark_article_path(mod.id), id: "article_#{mod.id}", class: "on", remote: true do %>
            <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
            <%= image_tag asset_path("icons/bookmark/active.svg") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
        <% end %>
      <% end %>
      <p>Статья</p>
      <h3><%= mod.header %></h3>
      <p>Читать статью</p>
    </div>
  <%= link_to (article_path(mod.id)) do %>
    <div class="image">
      <div class="shadow">

      </div>
      <% if mod.cover.url %>
        <%= image_tag mod.cover.url%>
      <% else %>
        <% i = rand(3) %>
        <% if i == 0 %>
          <%= image_tag asset_path("covers/a_1.jpg")%>
        <% elsif i == 1 %>
          <%= image_tag asset_path("covers/a_2.jpg")%>
        <% elsif i == 2 %>
          <%= image_tag asset_path("covers/a_3.jpg")%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  article_id = <%= mod.id %>;
  bookmark = document.getElementById("article_" + article_id)


  bookmark.onclick = function() {
    this.classList.toggle('on')
  }
</script>
