<div class="acticleCard">
  <%= link_to (article_path(mod)) do %>
    <div class="info">
      <p>Статья</p>
      <h3><%= mod.header %></h3>
      <p>Читать статью</p>
    </div>
    <div class="image">
      <div class="shadow">

      </div>
      <% if mod.cover.url %>
        <%= image_tag mod.cover.url%>
      <% else %>
        <% i = rand(3) %>
        <% if i == 0 %>
          <%= image_tag asset_path("covers/a_1.jpg")%>
        <% elsif i == 1 %>
          <%= image_tag asset_path("covers/a_2.jpg")%>
        <% elsif i == 2 %>
          <%= image_tag asset_path("covers/a_3.jpg")%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
