<p id="notice"><%= notice %></p>

<div class="arti">
  <div class="article_nav">
    <%= link_to articles_path do %>
      <h3>Все статьи</h3>
    <% end %>
    <ul>
      <% Article.all.each do |ar| %>
        <li>
          <% if current_user %>
            <% i = 0 %>
            <% current_user.profile.bookmarks.each do |book| %>
              <% if book.article_id == @article.id %>
                <% i =+ 1 %>
              <% end %>
            <% end %>
            <% if i == 0 %>
            <%= link_to bookmark_article_path, id: "article_s_id#{@article.id}", remote: true do %>
              <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
              <%= image_tag asset_path("icons/bookmark/active.svg") %>
            <% end %>
            <% else %>
              <%= link_to bookmark_article_path, id: "article_s_id#{@article.id}", class: "on", remote: true do %>
                <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
                <%= image_tag asset_path("icons/bookmark/active.svg") %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
            <% end %>
          <% end %>
          <% if ar.id == @article.id %>
            <%= link_to ar.header, article_path(ar.id), style: 'font-weight: bold;' %>
          <% else %>
            <%= link_to ar.header, article_path(ar.id)%>
          <% end %>
          <script type="text/javascript">
            article_id = <%= @article.id %>;
            bookmark = document.getElementById("article_s_id" + article_id)
            bookmark.onclick = function() {
              this.classList.toggle('on')
            }
          </script>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="article_cont">
    <div class="article_cover">
      <h1><%= @article.header %></h1>
      <% if current_user %>
        <% i = 0 %>
        <% current_user.profile.bookmarks.each do |book| %>
          <% if book.article_id == @article.id %>
            <% i =+ 1 %>
          <% end %>
        <% end %>
        <% if i == 0 %>
        <%= link_to bookmark_article_path, id: "article_id#{@article.id}", remote: true do %>
          <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
          <%= image_tag asset_path("icons/bookmark/active.svg") %>
        <% end %>
        <% else %>
          <%= link_to bookmark_article_path, id: "article_id#{@article.id}", class: "on", remote: true do %>
            <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
            <%= image_tag asset_path("icons/bookmark/active.svg") %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag asset_path("icons/bookmark/inactive.svg") %>
        <% end %>
      <% end %>

    </div>

    <%= image_tag @article.cover.url unless @article.cover.url == nil %>

    <p>
      <%= @article.content %>
    </p>

    <div class="butCollection">
      <% if can? :edit, @post %>
        <%= render "but", mes: "Изменить статью", rout: edit_article_path(@article), method: :get %>
      <% end %>
      <%= render "but", mes: "Назад", rout: articles_path, method: :get %>

    </div>

</div>
</div>

<script type="text/javascript">
  article_id = <%= @article.id %>;
  bookmark = document.getElementById("article_id" + article_id)


  bookmark.onclick = function() {
    this.classList.toggle('on')
  }
</script>
