
<div class="mainCover">
  <% Article.find() do |art| %>
    <div class="info">
      <h1><%= art.header %></h1>
      <p><%= art.description %></p>
      <%= render "but", mes: "Читать статью", rout: article_path(art.id), method: :get %>
    </div>
    <div class="">
      <%= image_tag(asset_path("cover.jpg")) %>

    </div>
  <% end %>
</div>


<% mes = 'Показать все' %>

<%= render "products/productBlock", h2: "Новинки", cla: Product, cardType: "products/productCard", mes: mes, rout: products_path, method: :get %>

<%= render "products/productBlock", h2: "Бренды", cla: Brand, cardType: "brands/brandCard", mes: mes, rout: brands_path, method: :get %>

<%= render "articles/articleBlock", h2: "Статьи", cla: Article, cardType: "articles/articleCard", mes: mes, rout: articles_path, method: :get %>
