<div class="landing">
  <div class="info">
    <%= image_tag(asset_path("forLanding/header.png"), :class => "first") %>
    <div class="skreen">
      <div class="content">
        <h1>Истинная красота начинается со здоровья</h1>
        <p>Глаза – зеркало души, а кожа – зеркало здоровья. Сервис Detach, основываясь на советах профессионалов бьюти-индустрии, поможет грамотно ухаживать за кожей. </p>
        <%= render 'but', mes: 'Подобрать продукт', rout: catalogs_path, method: :get %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Каждая деталь имеет значение</h1>
        <p>Каждый человек уникален, поэтому при выборе косметических продуктов важно уделить внимание особенностям кожи. Расскажите о себе в профиле или пройдите тест для определения типа кожи, чтобы подобрать подходящую продукцию. </p>
        <%= render 'but', mes: 'Узнать тип кожи', rout: detach_index_path, method: :get %>
      </div>

      <%= image_tag(asset_path("forLanding/mobile.png")) %>
    </div>
    <div class="skreen">
      <div class="column">
        <div class="img">
          <%= image_tag(asset_path("forLanding/symb1.png")) %>
        </div>
        <h3>Совершайте покупки с выгодой</h3>
        <p>Не отказывайте себе в покупке любимых косметических средств. Приобретайте выгодно, сравнивая цены в интернет-магазинах через наш сервис.</p>
      </div>
      <div class="column">
        <div class="img">
          <%= image_tag(asset_path("forLanding/symb2.png")) %>
        </div>
        <h3>Узнавайте больше нового о мире бьюти</h3>
        <p>В статьях собрана информация, которая поможет разобраться в тонкостях производства косметической продукции.</p>
      </div>
      <div class="column">
        <div class="img">
          <%= image_tag(asset_path("forLanding/symb3.png")) %>
        </div>
        <h3>Ваш выбор всегда верный</h3>
        <p>Проверьте эффективность и состав продукта и будьте уверены в выборе косметического средства.</p>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Природная красота – ключ к гармонии</h1>
        <p>Проверьте продукцию и упаковку на этичность и позаботьтесь о природе вместе с нашим сервисом.</p>
        <%= render 'but', mes: 'Проверить продукт', rout: catalogs_path, method: :get %>
      </div>
      <%= image_tag(asset_path("forLanding/table.png")) %>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Уверенность – это верность себе</h1>
        <p>Уверенность – неотъемлемый этап на пути любви к себе. Ознакомьтесь с информацией о составе понравившегося продукта и забудьте о сомнениях, связанных с эффективностью товара.</p>
        <%= render 'but', mes: 'Пройти тест', rout: detach_index_path, method: :get %>
      </div>
      <div class="image">
        <%= image_tag(asset_path("forLanding/table2.png")) %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Совершенство – это не мастерство, а отношение</h1>
        <p>Detach сотрудничает с экспертами бьюти-индустрии, которые уделяют внимание каждой детали, чтобы подобрать продукт под ваши особенности. Пройдите тест на определение типа кожи от нашего эксперта.</p>
        <%= render 'but', mes: 'Пройти тест', rout: detach_index_path, method: :get %>
      </div>
      <div class="image">
        <%= image_tag(asset_path("forLanding/ann.png")) %>
        <span></span>
      </div>
    </div>
  </div>
  <div class="fot">
    <%= image_tag(asset_path("forLanding/footer.png")) %>
    <div class="content">
      <h1>Забота о себе и своем здоровье еще проще с нашим приложением</h1>
      <%= image_tag(asset_path("forLanding/app.png")) %>
    </div>
  </div>
</div>
