<div class="landing">
  <div class="info">
    <div class="skreen">
      <div class="content">
        <h1>Истинная красота начинается со здоровья</h1>
        <p>Глаза – зеркало души, а кожа – зеркало здоровья. Сервис Detach, основываясь на советах профессионалов бьюти-индустрии, поможет грамотно ухаживать за кожей. </p>
        <% @mes = 'Подобрать продукт' %>
        <% @path = products_path %>
        <%= render 'but' %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Каждая деталь имеет значение</h1>
        <p>Каждый человек уникален, поэтому при выборе косметических продуктов важно уделить внимание особенностям кожи. Расскажите о себе в профиле или пройдите тест для определения типа кожи, чтобы подобрать подходящую продукцию. </p>
        <% @mes = 'Узнать тип кожи' %>
        <% @path = detach_index_path %>
        <%= render 'but' %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Уверенность – это верность себе</h1>
        <p>Уверенность – неотъемлемый этап на пути любви к себе. Ознакомьтесь с информацией о составе понравившегося продукта и забудьте о сомнениях, связанных с эффективностью товара.</p>
        <% @mes = 'Подобрать продукт' %>
        <% @path = products_path %>
        <%= render 'but' %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Природная красота – ключ к гармонии</h1>
        <p>Проверьте продукцию и упаковку на этичность и позаботьтесь о природе вместе с нашим сервисом.</p>
        <% @mes = 'Проверить продукт' %>
        <% @path = products_path %>
        <%= render 'but' %>
      </div>
    </div>
    <div class="skreen">
      <div class="content">
        <h1>Совершенство – это не мастерство, а отношение</h1>
        <p>Detach сотрудничает с экспертами бьюти-индустрии, которые уделяют внимание каждой детали, чтобы подобрать продукт под ваши особенности. Пройдите тест на определение типа кожи от нашего эксперта.</p>
        <% @mes = 'Пройти тест' %>
        <% @path = detach_index_path %>
        <%= render 'but' %>
      </div>
    </div>

  </div>

  <%= image_tag(asset_path("landing.jpg")) %>



</div>
