<p id="notice"><%= notice %></p>


<div class="brands">
  <div class="brands_fav">
    <h1>Бренды</h1>

    <p>Добавьте любимый бренд в избранное чтобы следить за его новинками</p>
  </div>

  <div class="brands_list">
    <h1>Быква</h1>
      <div class="brands_grup">
      <% @brands.each do |brand| %>
        <%= link_to brand do%>
          <div class="brand">
            <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
            <p><%= brand.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





<br>

<% @mes = "Новый бренд" %>
<% @rout = new_brand_path %>
<%= render "but" %>
