<div class="brands">
  <div class="brands_fav">
    <h1>Бренды</h1>

    <% if current_user %>
      <% if Profile.find(current_user.id).follows.count > 0 %>
      <% Profile.find(current_user.id).follows.all.each do |follow| %>
      <% brand = Brand.find(follow.brand_id) %>
      <div class="brand">
        <%= link_to brand do%>
        <p><%= brand.name %></p>
        <% end %>
        <%= link_to profile_follows_path(profile_id: current_user.profile.id, brand_id: brand.id), method: :post  do%>
        <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
        <% end %>
      </div>
      <% end %>
      <% else %>
      <p>Добавьте любимый бренд в избранное чтобы следить за его новинками</p>
      <% end %>
    <% else %>
      <p>Добавьте любимый бренд в избранное чтобы следить за его новинками</p>
    <% end %>



  </div>

  <div class="brands_list">
    <% brands = Array.new %>
    <% @brands.all.each do |brand| %>
      <% brands.push(brand.name) %>
    <% end %>
    <% brands = brands.sort %>
    <% a = brands[0][0] %>
    <h1><%= a %></h1>
    <div class="brands_grup">
    <% brands.each do |brand_name| %>
      <% if brand_name[0] == a %>
        <div class="brand">
          <% brand = Brand.find_by name: brand_name %>
          <% if current_user %>
            <%= link_to profile_follows_path(profile_id: current_user.profile.id, brand_id: brand.id), method: :post  do%>
              <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do%>
              <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
            <% end %>
          <% end %>
          <%= link_to brand do%>
            <p><%= brand.name %></p>
          <% end %>
        </div>
      <% else %>
    </div>
    <% a = brand_name[0] %>
    <h1><%= a %></h1>
    <div class="brands_grup">
          <div class="brand">
            <% brand = Brand.find_by name: brand_name %>
            <% if current_user %>
              <%= link_to profile_follows_path(profile_id: current_user.profile.id, brand_id: brand.id), method: :post  do%>
                <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
              <% end %>
            <% else %>
              <%= link_to new_user_session_path do%>
                <%= image_tag asset_path("icons/follow/inactiveDarc.png") %>
              <% end %>
            <% end %>
            <%= link_to brand do%>
              <p><%= brand.name %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>





<br>
<% if can? :edit, @post %>
  <%= render "but", mes: "Новый бренд", rout: new_brand_path, method: :get%>
<% end %>
