<div class="brandPage">

  <div class="cover">
    <div class="image">
      <%= image_tag @brand.logo.url unless @brand.logo.url == nil %>
    </div>
    <div class="info">
      <h1><%= @brand.name %></h1>
      <h3>Описание бренда</h3>
      <p><%= @brand.description %></p>
      <div class="but">
        <% if current_user %>
          <%= render "but", mes: "Подписаться", rout: profile_follows_path(profile_id: current_user.profile.id, brand_id: @brand.id), method: :post %>
        <% else %>
          <%= render "but", mes: "Подписаться", rout: new_user_session_path, method: :get  %>
        <% end %>
        <% if can? :edit, @post %>
          <%= render "but", mes: "Редактировать", rout: edit_brand_path, method: :get %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="but">
    <% if current_user %>
      <%= render "but", mes: "Подписаться", rout:  profile_follows_path(profile_id: current_user.profile.id, brand_id: @brand.id), method: :post %>
    <% else %>
      <%= render "but", mes: "Подписаться", rout: new_user_session_path, method: :get %>
    <% end %>

    <% if can? :edit, @post %>
      <%= render "but", mes: "Редактировать", rout: edit_brand_path, method: :get %>
    <% end %>
  </div>

  <!-- <p><%#= @brand.site %></p> -->

  <h2>Продукты</h2>


  <div class="cardsCollection">
    <% @brand.products.each do |product|%>
      <%= render "products/productCard", mod: product %>
    <% end %>
  </div>
  <br>
  <%= render "but", mes: "Новый продукт", rout: new_brand_product_path(@brand), method: :get %>
</div>
