<div class="brandPage">

  <div class="cover">
    <%= image_tag @brand.logo.url unless @brand.logo.url == nil %>
    <div class="info">
      <h1><%= @brand.name %></h1>
      <h3>Описание бренда</h3>
      <p><%= @brand.description %></p>
      <% @mes = "Подписаться" %>
      <% @method = :post %>
      <% @rout = profile_follows_path(profile_id: current_user.profile.id, brand_id: @brand.id) %>
      <%= render "but" %>

      <% @mes = "Редактировать" %>
      <% @rout = edit_brand_path %>
      <%= render "but" %>

    </div>
  </div>

  <p>
    <%= @brand.site %>
  </p>

  <h2>Продукты</h2>


  <div class="cardsCollection">
    <% @brand.products.each do |product|%>
      <% @mod = product %>
      <%= render "productCard" %>
    <% end %>
  </div>
  <br>
  <% @mes = "Новый продукт" %>
  <% @rout = new_brand_product_path(@brand) %>
  <%= render "but" %>
</div>
