<footer>
  <div class="body">
    <div class="info">
      <ul>
        <li>Пользоватлям</li>
        <li>О нас</li>
        <li>Бренды</li>
        <li>Каталог</li>
        <li>Статьи</li>
      </ul>
      <ul>
        <li>EP</li>
        <li>Профиль</li>
        <li>Избранное</li>
        <li>Тест на определение <br> типа кожи</li>
      </ul>
      <ul>
        <li>Компаниям</li>
        <li>Сотрудничество</li>
        <li>Эксперты</li>
      </ul>
    </div>
    <div class="conect">
      <div class="formArea">
        <span>Подпишитесь на рассылку</span>
        <div class="form">
          <span>Введите e-mail</span>
          <%= image_tag(asset_path("icons/arrows/next.png")) %>
        </div>
        <div class="check">
          <%= image_tag(asset_path("icons/checkBolls/white/active.png")) %>
          <span>Я согласен на обработку личных данных</span>
        </div>
      </div>
      <div class="soialNetworks">
        <%= image_tag(asset_path("icons/sosialNetworks/telegram.png")) %>
        <%= image_tag(asset_path("icons/sosialNetworks/fasebook.png")) %>
        <%= image_tag(asset_path("icons/sosialNetworks/instagram.png")) %>
        <%= image_tag(asset_path("icons/sosialNetworks/vkontakte.png")) %>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="line"></div>
    <div class="ps">
      <span>Россия, Москва</span>
      <span>Mirea 2020</span>
    </div>
  </div>
</footer>
