<div class="menubar">
  <%= image_tag asset_path("icons/burger.png"), class: "burger" %>
  <div class="left">
    <div class="logo">
      <%= link_to image_tag(asset_path("logos/LogoFull.png")), detach_landing_path %>
    </div>
    <ul>
      <li>
        <% if controller.class == DetachController && controller.action_name == "index" %>
          <%= link_to "Главная", root_path, class: "active" %>
          <div></div>
        <% else %>
          <%= link_to "Главная", root_path %>
        <% end %>
        <div></div>
      </li>
      <li>
        <% if controller.class == ProductsController %>
          <%= link_to "Каталог", products_path, class: "active" %>
          <div></div>
        <% else %>
          <%= link_to "Каталог", products_path %>
          <% end %>
        <div></div>
      </li>
      <li>
        <% if controller.class == BrandsController %>
          <%= link_to "Бренды", brands_path, class: "active" %>
          <div></div>
        <% else %>
          <%= link_to "Бренды", brands_path %>
          <% end %>
        <div></div>
      </li>
      <li>
        <% if controller.class == ArticlesController %>
          <%= link_to "Статьи", articles_path, class: "active" %>
          <div></div>
        <% else %>
          <%= link_to "Статьи", articles_path %>
          <% end %>
        <div></div>
      </li>
    </ul>
  </div>

  <div class="rigth">
      <% if user_signed_in? %>
        <div class="cearth">
            <%= image_tag(asset_path("icons/loup/inactive.png")) %>
        </div>
        <div class="userInfo">
          <%= link_to (profile_favorites_path(current_user.profile.id)) do %>
          <div class="icon follow">
            <% if controller.class ==  FavoritesController%>
              <%= image_tag(asset_path("icons/follow/activeWhite.png")) %>
            <% else %>
              <%= image_tag(asset_path("icons/follow/staticWhite.png")) %>
            <% end %>
            </div>
          <% end %>
          <%= link_to(profile_path(current_user.id)) do %>
            <div class="icon profile">
              <% if controller.class == ProfilesController%>
                <%= image_tag(asset_path("icons/profile/active.png")) %>
              <% else %>
                <%= image_tag(asset_path("icons/profile/inactive.png")) %>
              <% end %>
            </div>
          <% end %>
      </div>
      <% else %>
        <div class="cearth">
          <%= image_tag(asset_path("icons/loup/inactive.png")) %>
        </div>
        <div class="userInfo">
          <%= link_to('Login', new_user_session_path) %>
          <%= link_to('Sign Up', new_user_registration_path) %>
        </div>
      <% end %>
  </div>

</div>
