<div class="productCard">
  <%= link_to (brand_product_path(@mod.brand_id, @mod.id)) do %>
    <div class="image">
      <% if @mod.image.url %>
        <%= image_tag @mod.image.url %>
      <% else %>
        <%= image_tag(asset_path("apsent.jpg")) %>
      <% end %>
      <div class="lables">
        <div class="spetial">
          <span>Новинка</span>
        </div>
        <%= image_tag(asset_path("icons/follow/staticWhite.png")) %>
      </div>

    </div>
    <div class="icons">
      <%= image_tag(asset_path("icons/evitattion/god.png")) %>
      <%= image_tag(asset_path("icons/effect/god.png")) %>
    </div>
    <div class="info">
      <h3><%= @mod.name %></h3>
      <p><%= @mod.type unless @mod.type == nil %></p>
    </div>
  <% end %>
</div>
