<div class="productPage">

  <div class="find_product">
    <div class="cover">
      <div class="image">
        <%= image_tag @product.image.url unless @product.image.url == nil %>
      </div>
      <div class="info">
        <h2><%= @product.name %></h2>
        <p>Компактное многофункциональное тональное средство в форме стика для идеального тона, моделирования контуров и выделения отдельных зон.</p>
      </div>
    </div>
    <div class="content">
      <h3>Приобретая товар через наш сервис вы получаете скидку у наших партнеров</h3>
      <div class="shop">
        <div class="image">
          <%= image_tag asset_path('shop/1.png') %>
        </div>
        <div class="info">
          <div class="payment">
            <p>Цена по скидке:</p>
            <p>1200 ₽</p>
          </div>
          <div class="payment">
            <p>Цена на сайте:</p>
            <p>2000 ₽</p>
          </div>
          <h4>
            <a href="#">Приобрести</a>
          </h4>
        </div>
      </div>
      <div class="shop">
        <div class="image">
          <%= image_tag asset_path('shop/2.png') %>
        </div>
        <div class="info">
          <div class="payment">
            <p>Цена по скидке:</p>
            <p>1300 ₽</p>
          </div>
          <div class="payment">
            <p>Цена на сайте:</p>
            <p>1500 ₽</p>
          </div>
          <h4>
            <a href="#">Приобрести</a>
          </h4>
        </div>
      </div>
      <div class="shop">
        <div class="image">
          <%= image_tag asset_path('shop/3.jpg') %>
        </div>
        <div class="info">
          <div class="payment">
            <p>Цена по скидке:</p>
            <p>1500 ₽</p>
          </div>
          <div class="payment">
            <p>Цена на сайте:</p>
            <p>1800 ₽</p>
          </div>
          <h4>
            <a href="#">Приобрести</a>
          </h4>
        </div>
      </div>
      <div class="shop">
        <div class="image">
          <%= image_tag asset_path('shop/4.png') %>
        </div>
        <div class="info">
          <div class="payment">
            <p>Цена по скидке:</p>
            <p>1000 ₽</p>
          </div>
          <div class="payment">
            <p>Цена на сайте:</p>
            <p>1200 ₽</p>
          </div>
          <h4>
            <a href="#">Приобрести</a>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <h1><%= @product.name %></h1>
  <div class="cover">
    <div class="image">
      <%= image_tag @product.image.url unless @product.image.url == nil %>
    </div>

    <div class="attention">
      <h1><%= @product.name %></h1>
      <% if @al > 0 %>
        <div class="block red">
          <%= image_tag asset_path("icons/productCharacter/badEvitation.png") %>
          <p>В составе содержатся компоненты, вызывающие аллергию</p>
        </div>
      <% else %>
        <div class="block green">
          <%= image_tag asset_path("icons/productCharacter/godEvitation.png") %>
          <p>В составе продеукта нет аллергенов</p>
        </div>
      <% end %>
      <% if @al < @product.active_effects.count %>
        <div class="block red">
          <%= image_tag asset_path("icons/productCharacter/badEffect.png") %>
          <p>Продукт может не соответствовать заявленным ожиданиям</p>
        </div>
      <% else %>
        <div class="block green">
          <%= image_tag asset_path("icons/productCharacter/godEffect.png") %>
          <p>Продукт полностью выполняет заявленные обещания</p>
        </div>
      <% end %>
      <div class="tags">
        <h4>Подходит для типов кожи</h4>
        <div class="tagList">
          <% @skin_tags.each do |tag| %>
            <% if tag == "Жирная кожа" %>
              <span class="t-1">Жирная</span>
            <% elsif tag == "Сухая кожа" %>
              <span class="t-2">Сухая</span>
            <% elsif tag == "Нормальная кожа" %>
              <span class="t-3">Нормальная</span>
            <% elsif tag == "Комбинированная кожа" %>
              <span class="t-4">Комбинированная</span>
            <% elsif tag == "Чувствительня кожа" %>
              <span class="t-5">Чувствительная</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="block">
        <%= image_tag asset_path("icons/productCharacter/test.png") %>
        <p>Продукт не тестирован на животных</p>
      </div>
      <div class="block">
        <%= image_tag asset_path("icons/productCharacter/eco.png") %>
        <p>Эко-упаковка</p>
      </div>
      <div class="buttuns">
        <% if can? :edit, @post %>
        <%= render "but", mes: "Редактировать", rout: edit_brand_product_path(@product.brand_id, @product.id), method: :get %>
        <% end %>
        <div class="but">
          <a href="#", id="find"><span>Сравнить цены</span></a>
        </div>
        <% if current_user %>
          <%= render "but", mes: "Добавить в избранное", rout: profile_favorites_path(profile_id: current_user.profile.id, product_id: @product.id), method: :post %>
        <% else %>
          <%= render "but", mes: "Добавить в избранное", rout: new_user_session_path, method: :get %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="buttuns">
        <% if can? :edit, @post %>
          <%= render "but", mes: "Редактировать", rout: edit_brand_product_path(@product.brand_id, @product.id), method: :get %>
        <% end %>
          <%= render "but", mes: "Сравнить цены", rout: edit_brand_product_path(@product.brand_id, @product.id), method: :get %>
        <% if current_user %>
          <%= render "but", mes: "Добавить в избранное", rout: profile_favorites_path(profile_id: current_user.profile.id, product_id: @product.id), method: :post %>
        <% else %>
          <%= render "but", mes: "Добавить в избранное", rout: new_user_session_path, method: :get %>
        <% end %>
      </div>
  <div class="content">
    <h2>Описание продукта</h2>
    <p><%= @product.description %></p>
    <div class="structure">
      <div class="table">
        <h2>Свойства</h2>

        <div class="t_head">
          <h2>Обещание</h2>
          <h2>Компонент</h2>
          <h2>Эффективность</h2>
        </div>

        <div class="t_body">
          <% @product.active_effects.all.each do |prom| %>
          <div class="block">
            <% i = 0 %>
            <div class="promist">
              <h3><%= pr = prom.name %></h3>
            </div>
            <div class="components">
              <% @product.components.each do |comp| %>
                <% comp.active_effects.each do |ef| %>
                  <% if ef.name == pr %>
                    <div class="component">
                      <h4><%= comp.name %></h4>
                    </div>
                    <% i += 1 %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="result">
              <% if i > 0 %>
              <p>Да. Имеет хорошие ингредиенты которые отвечают заявленному обущанию</p>
              <% else %>
              <p>Нет. Эффективные ингредиенты отсутствуют или их концентрация слишком низкая</p>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>

      </div>

      <div class="list">
        <h2>Состав</h2>
        <% @product.structure.each do |point|%>
          <% c = Component.find(point.component_id) %>
          <div class="line">
            <% if point.role == "Active" %>
              <h3 class = "Active"><%= c.name %></h3>
            <% elsif point.role == "Form" %>
              <h3 class = "Form"><%= c.name %></h3>
            <% else %>
              <h3 class = "Eritate"><%= c.name %></h3>
            <% end %>
            <p><%= c.description %></p>
          </div>
        <% end %>
      </div>

      <div class="graph">
        <h2>Анализ состава</h2>

        <% all = @product.structure.count %>
        <% @al = (@al * 100 / all) %>
        <% @ac = (@ac * 100 / all) %>
        <% @fo = (@fo * 100 / all) %>
        <% @er = (@er * 100 / all) %>

        <% i = 0 %>
        <% 4.times do %>
          <div class="point">
            <% if i == 0 %>
              <% value = @ac %>
              <h3>Нераздражающие вещества</h3>
              <div class="info">
                <p>Ингредиенты, обеспечивающие обещанный результат и не раздражающие кожу</p>
            <% elsif i == 1 %>
              <% value = @er %>
              <h3>Активные раздражители</h3>
              <div class="info">
                <p>Ингредиенты, которые раздражают и не приносят пользы коже</p>
            <% elsif i == 2 %>
              <% value = @al %>
              <h3>Аллергены</h3>
              <div class="info">
                <p>Ингредиенты, которые могут накапливаться в организме и вызывать аллергическую реакцию</p>
            <% else %>
              <% value = @fo %>
              <h3>Формула поддержки</h3>
              <div class="info">
                <p>Ингредиенты, добавляющиеся для текстуры продукта, чтобы помочь доставить другие ингридиенты</p>
            <% end %>
            <% if value > 100 %>
              <% value = 100 %>
            <% end %>
            <div class="bar">
              <% if value == 0 %>
                <div class="w-0"></div>
              <% elsif value < 10 %>
                <div class="w0"></div>
              <% elsif value < 20 %>
                <div class="w10"></div>
              <% elsif value < 30 %>
                <div class="w20"></div>
              <% elsif value < 40 %>
                <div class="w30"></div>
              <% elsif value < 50 %>
                <div class="w40"></div>
              <% elsif value < 60 %>
                <div class="w50"></div>
              <% elsif value < 70 %>
                <div class="w60"></div>
              <% elsif value < 80 %>
                <div class="w70"></div>
              <% elsif value < 90 %>
                <div class="w80"></div>
              <% elsif value < 100 %>
                <div class="w90"></div>
              <% elsif value >= 100 %>
                <div class="w100"></div>
              <% end %>
              <% if i == 0 %>
                <h3><%= value %>%</h3>
              <% elsif i == 1 %>
                <h3><%= value %>%</h3>
              <% elsif i == 2 %>
                <h3><%= value %>%</h3>
              <% else %>
                <h3><%= value %>%</h3>
              <% end %>
            </div>
          </div>
        </div>
          <% i = i + 1 %>
        <% end %>
      </div>

    </div>

    <div class="comments">
      <h2>Отзывы</h2>
      <% comments = Array.new %>
      <% Comment.all.each do |com| %>
        <% if com.product_id == @product.id %>
          <% comments.push(com) %>
        <% end %>
      <% end %>

      <% if comments.count != 0 %>
        <% comments.each do |com| %>
          <% profile = Profile.find(com.profile_id) %>
          <div class="point">
            <div class="header">
              <div class="info">
                <h3><%= profile.name %></h3>
                <span><%= com.created_at.to_s(:date) %></span>
              </div>
              <div class="tagList">
                <span><%= profile.skin_type.name %></span>
              </div>
            </div>
            <p><%= com.content %></p>
          </div>
        <% end %>
      <% else %>
        <h3>Отзывов пока нет</h3>
      <% end %>
      <% if current_user %>
        <%= render "but", mes: "Добвить отзыв", rout: new_comment_path(product_id: @product), method: :get %>
      <% else %>
        <%= render "but", mes: "Добвить отзыв", rout: new_user_session_path, method: :get %>
      <% end %>
    </div>
    <div class="products">
      <h2>Вам может быть интерено</h2>
      <div class="cardsCollection">
        <% Product.all.sample(5).each do |el| %>
          <%= render "productCard", mod: el %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  but_open = document.getElementById("find")
  block = document.getElementsByClassName("find_product")[0]

  but_open.onclick = function() {
    console.log(123);
    block.classList.add('open')
  }
</script>
