<!DOCTYPE html>
<html>
  <head>
    <title>Mirea</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  </head>

  <body>
    <%= render 'menubar' %>
    <script type="text/javascript">
      but = document.querySelector('.burger')
      menu = document.querySelector('.forMobile')
      but.onclick = function() {
        but.classList.toggle('active')
        menu.classList.toggle('active')
      }
    </script>
    <section>
      <%= yield %>
      <%= render 'footer' %>
    </section>
  </body>
</html>
